.my .my-bg {
  height: 180px;
  background-color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.my .upload-box {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.my .upload-box .van-uploader__wrapper {
  height: 100%;
}
.my .upload-box .van-uploader__upload {
  width: 100%;
  height: 100%;
  margin: 0;
}
.my .my-info {
  margin: 0 10px;
  position: relative;
  top: -40px;
  padding: 10px 10px 0 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.65) 0, #ffffff 90px, #fff 90px, #fff 100%);
  box-shadow: 0px 3px 3px #c8c8c8;
}
.my .my-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #ddd;
  margin-right: 20px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.my .my-info-box {
  height: 70px;
}
.my .user-name {
  color: #3a48bf;
  height: 30px;
  font-weight: bold;
  text-align: center;
}
.my .user-desc {
  font-size: 14px;
  color: #999;
  height: 40px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.my /deep/ .van-cell {
  border-bottom: 1px solid #F5F6F7;
  padding: 15px 0;
}
.my /deep/ .van-cell:last-child {
  border-bottom: none;
}
.my /deep/ .van-cell:active {
  background-color: transparent;
}
.my /deep/ .van-cell span {
  color: #646566;
}
